.lvd-propertysheet-key-value-listing-container {
	width: 100%;
}

.lvd-propertysheet-key-value-item-container {
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lvd-propertysheet-clear {
	clear: both;
	margin: 0;
	padding: 0;
}

.lvd-propertysheet-key-value-item-key {
	font-weight: bold;
	float: left;
}

.lvd-propertysheet-key-value-item-key.lvd-propertysheet-align-right {
	text-align: right;
}

.lvd-propertysheet-key-value-item-key.lvd-propertysheet-align-left {
	text-align: left;
}

.lvd-propertysheet-key-value-item-key.lvd-propertysheet-align-center {
	text-align: center;
}

.lvd-propertysheet-key-value-item-container.lvd-propertysheet-key-value-listing-container-label-only .lvd-propertysheet-key-value-item-key {
	text-align: left;
	font-weight: normal;
}

.lvd-propertysheet-key-value-item-container.lvd-propertysheet-key-value-listing-container-with-value .lvd-propertysheet-key-value-item-key::after {
	content: ':';
}

.lvd-propertysheet-key-value-item-value {
	max-height: 300px;
	height: auto;
	white-space: pre-line;
	overflow: auto;
	padding-top: 1px;
	padding-bottom: 1px;
	float: left;
}

.lvd-propertysheet-key-value-item-value p.lvd-propertysheet-key-value-item-value-subitem {
	padding: 0px;
	margin: 5px 0px 0px 0px;
}

.lvd-propertysheet-key-value-item-value p.lvd-propertysheet-key-value-item-value-subitem:first-of-type {
	margin-top: 0px;
}

.lvd-propertysheet-key-value-item-value pre,
.lvd-propertysheet-key-value-item-value code {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.lvd-propertysheet-key-value-item-value .ms-Button {
	width: 16px;
	height: 16px;
	padding: 0;
	margin-left: 6px;
}

.lvd-propertysheet-key-value-item-value .ms-Button .ms-Button-flexContainer {
	padding: 0;
	font-size: 10px;
}

.lvd-propertysheet-key-value-item-value .ms-Button .ms-Button-flexContainer .ms-Icon {
	padding: 0;
	font-size: 10px;
	line-height: 10px;
	height: 10px;
}